<!--
  ~ Copyright 2021 The VPNHouse Authors. All rights reserved.
  ~ Use of this source code is governed by a AGPL-style
  ~ license that can be found in the LICENSE file.
  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <style>
        html {
            max-width: 70ch;
            padding: 3em 1em;
            margin: auto;
            line-height: 1.75;
            font-size: 1.25em;
        }
        h1,h2,h3,h4,h5,h6 {
            margin: 1em 0 0.2em;
        }

        p,ul,ol {
            margin-bottom: 2em;
            color: #1d1d1d;
            font-family: sans-serif;
        }
    </style>
</head>
<body style="margin: 25px">

<h3>Instances online: $INSTALL_ALIVE$</h3>
<p>
    Last 24h: <b>$INSTALL_24H$</b><br>
    Last week: <b>$INSTALL_WEEK$</b><br>
    Last month: <b>$INSTALL_MONTH$</b><br>
    Total: <b>$INSTALL_TOTAL$</b><br>
</p>


</body>
</html>