.idea
api/update.sh
tunnel-node
./dynamic.yaml

# compiled output
/frontend/dist
/internal/frontend/dist

# dependencies
/frontend/node_modules

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json

#env
.env

extstat-data/
